.save-button {
    background-color: var(--lumo-success-color);
    color: var(--lumo-success-contrast-color);
    cursor: pointer;
}

.save-button:hover {
    background-color: var(--lumo-success-text-color);
}