.url-likes {

}

.url-likes-icon {
    color: var(--lumo-tertiary-text-color);
    height: calc(var(--lumo-icon-size-s) * 0.8);
    margin-right: var(--lumo-space-s);
    width: calc(var(--lumo-icon-size-s) * 0.8);
}

.url-likes-icon:hover {
    color: var(--lumo-primary-text-color);
}

.url-likes-text {
    color: var(--lumo-tertiary-text-color);
    font-size: var(--lumo-font-size-xs);
    margin-right: var(--lumo-space-l);
}

.url-likes-text:hover {
    color: var(--lumo-primary-text-color);
}