.likes-container {

}

.likes-container-text {
    color: var(--lumo-tertiary-text-color);
    font-size: var(--lumo-font-size-xs);
    margin-right: var(--lumo-space-l);
}

.likes-container-text:hover {
    color: var(--lumo-primary-text-color);
}